# Python
__pycache__/
*.py[cod]
*$py.class
backend/.venv/
backend/.env
.venv/
venv/
ENV/

# OS
.DS_Store
Thumbs.db

# Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# Misc
.DS_Store
*.log
